<h2>Add an Item</h2>


<form class="create-update-form" action="/additem" method="POST">


  <div class="form-group">
    <label for="name">Item name:</label>
    <input type="text" id="formName" name="name">
  </div>

  <div class="form-group">
    <label for="descripton">Description</label><br>
    <input type="text" id="formDescription" name="description">
  </div>

    <div class="form-group">
    <label for="Price">Price</label><br>
    <input type="text" id="formPrice" name="price">
  </div>

    <p>
      <input name="appetizer" type="radio" id="appetizer" value="true" />
      <label for="appetizer">Appetizer</label>
    </p>
    <p>
      <input name="wing" type="radio" id="wing" value="true" />
      <label for="wing">Wing</label>
    </p>
    <p>
      <input name="salad" type="radio" id="salad" value="true" />
      <label for="salad">Salad</label>
    </p>
    <p>
      <input name="oyster" type="radio" id="oyster" value="true" />
      <label for="oyster">Oyster</label>
    </p>
    <p>
      <input name="sandwich" type="radio" id="sandwich" value="true" />
      <label for="sandwich">Sandwich</label>
    </p>
     <p>
      <input name="platter" type="radio" id="platter" value="true" />
      <label for="platter">Platter</label>
    </p>
    <p>
      <input name="taco" type="radio" id="taco" value="true" />
      <label for="taco">Taco</label>
    </p>
    <p>
      <input name="entree" type="radio" id="entree" value="true" />
      <label for="entree">Wing</label>
    </p>
    <p>
      <input name="side" type="radio" id="side" value="true" />
      <label for="side">Side</label>
    </p>
    <p>
      <input name="beverage" type="radio" id="beverage" value="true" />
      <label for="beverage">Beverage</label>
    </p>
    <p>
      <input name="kids" type="radio" id="kids" value="true" />
      <label for="kids">Kids</label>
    </p>

  <input type="submit" value="Submit">
</form>